@font-face {
	font-family: "Manibz Light";
	src: url(../assets/fonts/manibz-light.ttf), url(../assets/fonts/manibz-light.woff), url(../assets/fonts/manibz-light.woff2);
	font-weight: 300;
}

@font-face {
	font-family: Manibz;
	src: url(../assets/fonts/manibz-regular.ttf), url(../assets/fonts/manibz-regular.woff), url(../assets/fonts/manibz-regular.woff2);
	font-weight: 400;
}

$font: 300 24px/32px Ubuntu;
$font-xs: 13.9px;
$font-s: 16.6px;
$font-m: 20px;
$font-n: 24px;
$font-l: 28.8px;
$font-xl: 34.5px;
$font-xxl: 41.5px;
$font-xxxl: 49.8px;
$dark-font: #282828;
$light-font: #fff;
$transition-duration: .1s;

html, body {
	margin: 0px;
	padding: 0px;
	font: $font;
	color: $dark-font;
	overflow: hidden;
}

.spacer {  
	flex: 1;
}

a {
	color: $light-font;
	text-decoration: none;
}
