@use "base";

@mixin display-flex() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@mixin user-select($property) {
	-webkit-user-select: $property;
	-moz-user-select: $property;
	-ms-user-select: $property;
	user-select: $property;
}

@mixin user-select($property) {
	-webkit-user-select: $property;
	-moz-user-select: $property;
	-ms-user-select: $property;
	user-select: $property;
}

@mixin transition($properties...) {
	-webkit-transition: $properties;
	-o-transition: $properties;
	transition: $properties;
}

@mixin flex($webkit, $property) {
	-webkit-box-flex: $webkit;
	-ms-flex: $property;
	flex: $property;
}
