@use "compatibility";
@use "base";


header {
	background: url("../assets/home/header.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 860px;
	color: white;

	#header {
		@include compatibility.display-flex();
		height: 100px;
		padding: 10px 50px;

		div {
			@include compatibility.flex(0, 0 0 140px);
			line-height: 100px;
			text-align: center;
			cursor: pointer;
			transition: transform base.$transition-duration, flex .2s;
			@include compatibility.user-select(none);

			&:hover {
				transform: translateY(-4px);
			}
		}

		#sign-up {
			line-height: 52px;
		}

		#logo {
			@include compatibility.flex(1, 1);
			background: url("../assets/mindlabor/logo-mono-white.svg");
			background-repeat: no-repeat;
			background-size: contain;
			margin: 32px;
		}
	}

	#learn-more {
		margin-left: 20px;
		width: 200px;
		text-align: center;
		margin: 40px auto auto auto;
	}

	#hero {
		text-align: center;
		margin: 150px 18%;
	}
}

#projects {
	margin: 150px auto;
	width: 1200px;

	h1 {
		font-size: 2.5rem;
		color: base.$dark-font;
		text-align: center;
		width: 100%;
	}

	.project {
		display: grid;
		grid-template-columns: 180px 1fr;
		margin: 72px 0px;
		height: 260px;
		transition: transform base.$transition-duration;
	
		&:hover {
			transform: translateY(-4px);
		}
	}

	.p-preview {
		height: 100%;
		width: 180px;
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;

		> img {
			position: relative;
			left: -30%
		}
	}

	.p-content {
		padding: 32px 52px;
	}

	.p-title {
		font-size: 1.75rem;
		width: 100%;
		cursor: pointer;
	}

	.p-desc {
		color: base.$light-font;
		line-height: 1.5rem;
	}

	.p-tag {
		float: left;
		margin: 5px;
		height: 2rem;
		line-height: 2rem;
		text-align: center;
		color: white;
		border-radius: 8px;
		padding: 0px 20px;
		cursor: pointer;
		transition: transform base.$transition-duration;
		@include compatibility.user-select(none);
	
		&:hover {
			transform: translateY(-4px);
		}
	}

	#projects-more {
		letter-spacing: .05em;
		text-transform: uppercase;
		font-size: 1.25rem;
		text-align: center;
		width: 100px;
		height: 52px;
		cursor: pointer;
		text-decoration: underline;
		margin: auto;
		transition: opacity base.$transition-duration;
	
		&:hover {
			opacity: .85;
		}
	}
}

#time-hero {
	height: 400px;
	width: 100%;
	background-color: base.$dark-font;
	color: white;

	> div {
		width: 880px;
		margin: 150px auto;
		padding: 120px 0px;
		text-align: center;
	}

	p {
		line-height: 1.5rem;
	}
}

#articles {
	justify-content: center;
    margin: auto 5rem;

	h1 {
		margin: 150px auto 72px auto;
		font-size: 2.5rem;
		color: base.$dark-font;
		text-align: center;
		width: 100%;
	}

	#articles-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
		gap: 5rem;
		justify-content: center;
	}

	.article {
		height: 510px;
		border-radius: 16px;
		box-shadow: 0px 5px 10px 1px rgba(base.$dark-font, 20%);
		transition: transform base.$transition-duration;
	
		&:hover {
			transform: translateY(-4px);
		}
	}

	.a-preview {
		height: 260px;
		width: 100%;
		overflow: hidden;
		border-radius: 16px;
		cursor: pointer;

		> img {
			width: 100%;
		}
	}

	.a-content {
		padding: 32px;
	}

	.a-title {
		font-weight: 700;
		line-height: 1rem;
		font-size: 1.25rem;
		width: 100%;
		cursor: pointer;
	}

	.a-desc {
		margin-top: 1rem;
		color: base.$light-font;
	}

	.a-tags {
		margin-top: 1rem;
	}

	.a-tag {
		float: left;
		margin: 5px;
		font-size: .75rem;
		height: 1.5rem;
		line-height: 1.5rem;
		text-align: center;
		color: white;
		border-radius: 6px;
		padding: 0px 20px;
		cursor: pointer;
		transition: transform base.$transition-duration;
		@include compatibility.user-select(none);
	
		&:hover {
			transform: translateY(-4px);
		}
	}

	#articles-more {
		letter-spacing: .05em;
		text-transform: uppercase;
		font-size: 1.25rem;
		text-align: center;
		width: 100px;
		height: 52px;
		cursor: pointer;
		text-decoration: underline;
		margin: 4rem auto 150px auto;
		transition: opacity base.$transition-duration;
	
		&:hover {
			opacity: .85;
		}
	}
}

@media only screen and (max-width: 1600px) {
	
}

@media only screen and (max-width: 1400px) {
	#projects {
		margin: 150px (100%/14);
		width: auto;
	}
}

@media only screen and (max-width: 1240px) {
	header #header div {
		@include compatibility.flex(0, 0 0 100px);

		&#sign-up {
			@include compatibility.flex(0, 0 0 140px);
		}
	}
}

@media only screen and (max-width: 1000px) {
	header #hero {
		margin-top: 120px;
	}
}
