@use "compatibility";
@use "base";


header {
	background: url("../assets/home/header.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 860px;
	color: white;

	#header {
		@include compatibility.display-flex();
		height: 100px;
		padding: 10px 50px;

		div {
			@include compatibility.flex(0, 0 0 140px);
			line-height: 100px;
			text-align: center;
			cursor: pointer;
			transition: transform base.$transition-duration, flex .2s;
			@include compatibility.user-select(none);

			&:hover {
				transform: translateY(-4px);
			}
		}

		#sign-up {
			line-height: 52px;
		}

		#logo {
			@include compatibility.flex(1, 1);
			background: url("../assets/mindlabor/logo-mono-white.svg");
			background-repeat: no-repeat;
			background-size: contain;
			margin: 32px;
		}

		#header-sign-in {
			margin-right: 1rem;
		}

		#mobile-header-burger {
			display: none;
		}
	}

	#learn-more {
		margin-left: 20px;
		width: 200px;
		text-align: center;
		margin: 40px auto auto auto;
	}

	#hero {
		text-align: center;
		margin: 150px 18%;
	}
}

#projects {
	margin: 150px auto;
	width: 1200px;
	display: block;

	h1 {
		font-size: 2.5rem;
		color: base.$dark-font;
		text-align: center;
		width: 100%;
	}

	.project {
		display: grid;
		grid-template-columns: 180px 1fr;
		margin: 72px auto;
		box-shadow: 0px 2px 15px 4px rgba(base.$dark-font, 20%);
		height: 260px;
		transition: transform base.$transition-duration;
		border-radius: 10px;
	
		&:hover {
			transform: translateY(-4px);
		}
	}

	.p-preview {
		height: 100%;
		width: 180px;
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;

		> img {
			position: relative;
			left: -30%
		}
	}

	.p-content {
		padding: 32px 52px;
	}

	.p-title {
		font-size: 1.75rem;
		width: 100%;
		cursor: pointer;
	}

	.p-desc {
		color: base.$light-font;
		line-height: 1.5rem;
	}

	.p-tag {
		float: left;
		margin: 5px;
		height: 2rem;
		line-height: 2rem;
		text-align: center;
		color: white;
		border-radius: 8px;
		padding: 0px 20px;
		cursor: pointer;
		transition: transform base.$transition-duration;
		@include compatibility.user-select(none);
	
		&:hover {
			transform: translateY(-4px);
		}
	}

	.p-tags {
		height: 50px;
		overflow: hidden;
	}

	#projects-more {
		letter-spacing: .05em;
		text-transform: uppercase;
		font-size: 1.25rem;
		text-align: center;
		width: 100px;
		height: 52px;
		cursor: pointer;
		text-decoration: underline;
		margin: auto;
		transition: opacity base.$transition-duration;
	
		&:hover {
			opacity: .85;
		}
	}
}

#time-hero {
	height: 400px;
	width: 100%;
	background-color: base.$dark-font;
	color: white;

	> div {
		width: 880px;
		margin: 150px auto;
		padding: 120px 0px;
		text-align: center;
	}

	p {
		line-height: 1.5rem;
	}
}

#articles {
	justify-content: center;
    margin: auto 5rem;

	h1 {
		margin: 150px auto 72px auto;
		font-size: 2.5rem;
		color: base.$dark-font;
		text-align: center;
		width: 100%;
	}

	#articles-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
		gap: 5rem;
		justify-content: center;
	}

	.article {
		height: 510px;
		border-radius: 16px;
		box-shadow: 0px 5px 10px 1px rgba(base.$dark-font, 20%);
		transition: transform base.$transition-duration;
	
		&:hover {
			transform: translateY(-4px);
		}
	}

	.a-preview {
		height: 260px;
		width: 100%;
		overflow: hidden;
		border-radius: 16px;
		cursor: pointer;

		> img {
			width: 100%;
		}
	}

	.a-content {
		padding: 32px;
	}

	.a-title {
		font-weight: 700;
		line-height: 1rem;
		font-size: 1.25rem;
		width: 100%;
		cursor: pointer;
	}

	.a-desc {
		margin-top: 1rem;
		color: base.$light-font;
	}

	.a-tags {
		margin-top: 1rem;
	}

	.a-tag {
		float: left;
		margin: 5px;
		font-size: .75rem;
		height: 1.5rem;
		line-height: 1.5rem;
		text-align: center;
		color: white;
		border-radius: 6px;
		padding: 0px 20px;
		cursor: pointer;
		transition: transform base.$transition-duration;
		@include compatibility.user-select(none);
	
		&:hover {
			transform: translateY(-4px);
		}
	}

	#articles-more {
		letter-spacing: .05em;
		text-transform: uppercase;
		font-size: 1.25rem;
		text-align: center;
		width: 100px;
		height: 52px;
		cursor: pointer;
		text-decoration: underline;
		margin: 4rem auto 150px auto;
		transition: opacity base.$transition-duration;
	
		&:hover {
			opacity: .85;
		}
	}
}

@media only screen and (max-width: 1600px) {
	
}

@media only screen and (max-width: 1400px) {
	#projects {
		margin: 150px (100%/14);
		width: auto;
	}
}

@media only screen and (max-width: 1240px) {
	header #header div {
		@include compatibility.flex(0, 0 0 100px);

		&#sign-up {
			@include compatibility.flex(0, 0 0 140px);
		}
	}
}

@media only screen and (max-width: 1000px) {
	header {
		#logo {
			display: none;
		}

		#hero {
			margin: 110px 10%;
		}

		#header > div {
			@include compatibility.flex(1, 1);
		}
	}

	#projects {
		.p-preview {
			width: 100%;
			height: 160px;

			> img {
				left: 0;
				width: 100%;
			}
		}

		.project {
			display: block;
			position: relative;
			height: auto;
			min-height: 100% !important;
			max-width: 500px;
			box-shadow: 0px 5px 10px 1px rgba(base.$dark-font, 20%);
		}

		.p-content {
			padding: 32px;
		}
	}

	#time-hero {
		span.text-ext {
			display: none;
		}

		> div {
			width: auto;
			padding: 120px 32px;
		}
	}
}

@media only screen and (max-width: 780px) {
	h1 {
		font-size: 2.5rem;
	}

	header {

		#header {
			padding: 10px 30px;

			#sign-up, #header-about, #header-articles, #header-projects, #header-home {
				display: none;
			}

			#logo, #mobile-header-burger {
				display: block;
			}

			#logo {
				@include compatibility.flex(0, 0 0 160px);
			}

			#header-sign-in {
				text-align: right;
				margin-right: 0px;
			}

			#mobile-header-burger {
				@include base.burger-menu();
			}

		}

	}
}


@media only screen and (max-width: 780px) {
	h1 {
		font-size: 2.5rem;
	}

	#articles .a-preview {
		height: 200px;
	}
}


@media only screen and (max-width: 500px) {
	#time-hero {
		h1 {
			font-size: 2rem;
		}

		> div {
			text-align: left;
		}
	}
}

@media only screen and (max-width: 420px) {

	header {
		background: url(../assets/home/header-mobile.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 520px;

		#learn-more {
			width: 140px;
			height: 2rem;
			line-height: 2rem;
			letter-spacing: 0px;
			font-size: 0.9rem;
			font-weight: 500;
			text-transform: initial;
			margin-left: 0px;
			margin-top: 0px;
		}

		#header {
			padding: 10px 30px;

			#logo {
				display: none;
			}

			#header-sign-in {
				font-size: 0.9rem;
				@include compatibility.flex(0, 0 0 70px);
			}
		}

		#hero {
			margin: 10px 30px;
		}

		h1 {
			font-size: 1.8rem;
			text-align: left;
			line-height: 1.8rem;
		}

		p {
			font-size: 0.9rem;
			text-align: left;
		}

		.spacer {
			display: block;
		}
	}

	#projects {
		margin: 72px 20px;

		h1 {
			font-size: 2rem;
		}

		.p-title {
			font-size: 1.5rem;
		}

		.p-content {
			padding: 24px;
		}

		.p-tags {
			height: 40px;
		}

		.p-tag {
			font-size: 0.8rem;
			line-height: 1.75rem;
			height: 1.75rem;
		}

		.p-desc {
			line-height: 1.25rem;
		}
	}

	#articles {
		margin: 100px 20px;

		h1 {
			font-size: 2rem;
			margin-top: 0px;
			margin-bottom: 42px;
		}

		.a-title {
			font-size: 1.25rem;
			line-height: 1.25rem;
		}

		.a-content {
			padding: 24px;
		}

		.a-desc {
			line-height: 1.25rem;
		}

		.article {
			height: auto;
			padding-bottom: 24px;
		}

		#articles-wrapper {
			gap: 3rem;
		}

		#articles-more {
			margin: 4rem auto 100px auto;
		}
	}

	#time-hero {
		height: 250px;
		padding: 30px;
		width: auto;
		height: auto;

		h1 {
			font-size: 2rem;
		}

		> div {
			width: auto;
			text-align: left;
			padding: 0px;
			margin: 100px auto;
		}
	}

	footer {
		background: url(../assets/home/footer-mobile.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 100px 30px 0px 30px;

		.round-btn {
			width: 140px;
			height: 2rem;
			line-height: 2rem;
			font-size: 0.9rem;
			font-weight: 500;
			text-transform: initial;
		}
	}
}