@use "compatibility";
@use "base";

$font: 'Open Sans', sans-serif;

p {
	line-height: 1.6rem;
	margin-top: 20px;   
	font-family: $font;
}

h2 {
	margin-top: 40px;
	font-weight: 600;
	font-size: 1.4rem;
}

ol, ul {
	margin: 2rem 0;
}

li {
	line-height: 1.6rem;

	a:hover {
		text-decoration: underline;
	}
}

pre[class*="language-"] {
	font-size: 0.9rem !important;
}

:not(pre) > code[class*="language-"] {
	font-size: 0.9rem !important;
	padding: 0.2rem 0.4rem;
	margin: 0px 5px;
}

#content {
	max-width: 1000px;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 200px;

	h1 {
		height: auto;
		line-height: 3rem;
	}

	li {
		line-height: 1.2rem;
		font-weight: 300;
		text-rendering: optimizeLegibility;
		margin: .5rem 0px;
		font-family: $font;
		max-width: 75%;
	}

	#menu-dots {
		float: right;
		position: relative;
		background-image: url("../assets/global/icons/menu-dots.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 1.5rem;
		height: 1.5rem;
		margin: 1.25rem 1rem 0 1rem;
		cursor: pointer;
	}

	#path {
		font-size: 0.9rem;
		font-weight: 600;
		line-height: 0.95rem;

		a:hover {
			text-decoration: underline;
			margin: 0px;
		}

		span {
			cursor: pointer;
		}

		a:not(:first-child), span {
			margin: 0px 6px;
		}

		a:first-child {
			margin-right: 6px;
		}
	}

	#written-by {
		line-height: 42px;
		font-size: 0.9rem;
		font-weight: 600;
		margin-top: 10px;

		> span {
			color: base.$light-font;
			font-size: 0.75rem;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	#p-image {
		width: 42px;
		height: 42px;
		border-radius: 21px;
		float: left;
		margin-right: 16px;
		box-shadow: 0px 5px 10px 1px rgba(base.$dark-font, 16%);
	}

	#lesson-content {
		margin-top: 40px;
	}

	#lesson-navigation {
		margin-top: 20px;
	}
}

#lesson-navigation {
	margin-top: 60px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.round-btn {
		width: auto;
		max-width: 300px;
		text-transform: initial;
		padding: 0px 20px;
		font-family: "Cabin", sans-serif;
		letter-spacing: -0.2px;
		margin: .5rem 0px;
	}
}

#contributers {
	> div {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		overflow: hidden;
		margin: 20px 10px;
		float: left;
		cursor: pointer;
		box-shadow: 0px 5px 10px 1px rgba(base.$dark-font, 16%);
	}

	img {
		width: 60px;
		height: 60px;
	}
}

@media only screen and (max-width: 1200px) {
	#content {
		width: 85%;
		margin: inherit auto;
	}
}

@media only screen and (max-width: 700px) {
	#prev-lesson {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	#content {
		margin-top: 100px;
		margin-bottom: 150px;

		h1 {
			font-size: 2.5rem;
			line-height: 2.5rem;
		}
		
		#menu-dots {
			width: 1.25rem;
			height: 1.25rem;
			margin: 1rem 1rem 0 1rem;
		}
	}
}

@media only screen and (max-width: 400px) {
	html, body {
		font-size: 18px;
	}

	#content {
		margin-top: 70px;

		#path {
			display: none;
		}

		h1 {
			margin-bottom: 20px;
			font-size: 1.75rem;
			line-height: 1.75rem;
		}

		nm {
			display: none;
		}

		#menu-dots {
			width: 1rem;
			height: 1rem;
			margin: .25rem 1rem 0 1rem;
		}

	}
}