@use "compatibility";
@use "base";

p {
	font-family: "Mulish", sans-serif;
	line-height: 32px;
	margin-top: 20px;
	text-rendering: optimizeLegibility;
}

h2 {
	margin-top: 40px;
	font-weight: 600;
}

li {
	line-height: 1.6rem;

	a:hover {
		text-decoration: underline;
	}
}

#content {
	max-width: 1000px;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 200px;

	h1 {
		height: 4rem;
	}

	#menu-dots {
		float: right;
		position: relative;
		background-image: url("../assets/global/icons/menu-dots.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 1.5rem;
		height: 1.5rem;
		margin-top: 1.25rem;
		cursor: pointer;
	}

	#path {
		font-size: 0.9rem;
		font-weight: 600;

		a:hover {
			text-decoration: underline;
		}

		span {
			cursor: pointer;
		}
	}

	#written-by {
		line-height: 42px;
		font-size: 0.9rem;
		font-weight: 600;

		> span {
			color: base.$light-font;
			font-size: 0.75rem;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	#p-image {
		width: 42px;
		height: 42px;
		border-radius: 21px;
		background-image: url(https://avatars2.githubusercontent.com/u/42311986?s=460&u=a77d945cc3aba622ba704050334208f56da05d47&v=4);
		background-position: center;
		background-size: cover;
		float: left;
		margin-right: 16px;
	}

	#lesson-content {
		margin-top: 40px;
	}
}

#lesson-navigation {
	margin-top: 60px;
	height: 100px;

	#prev-lesson {
		float: left;
	}

	#next-lesson {
		float: right;
	}

	.round-btn {
		width: auto;
		max-width: 300px;
		text-transform: initial;
		padding: 0px 20px;
		font-family: "Mulish", sans-serif;
		letter-spacing: -0.2px;
	}
}

#contributers {
	> div {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		overflow: hidden;
		margin: 20px 10px;
		float: left;
		cursor: pointer;
	}

	img {
		width: 60px;
		height: 60px;
	}
}
