<footer>
	<div id="footer">
		<div class="footer-item">
			<h2>About</h2>
			<p>Did you ever want to become a master in a particular technology, but you ended up searching the web for hours instead? <br><br>
				Our mission is to create projects based on that technology and teach you exactly how we have built them to give you the best introduction possible.</p>
		</div>
		<div class="footer-item" id="follow-box">
			<h2>Contact us</h2>
			<div id="social-links">
				<div><a href="mailto:support@mindlabor.dev" target="_blank" rel="noopener"><img src="assets/global/icons/mail.svg" alt="Email"></a></div>
				<div><a href="https://github.com/MindLabor" target="_blank" rel="noopener"><img src="assets/global/icons/github.svg" alt="Github"></a></div>
				<div><a href="https://medium.com/@MindLabor" target="_blank" rel="noopener"><img src="assets/global/icons/medium.svg" alt="Medium"></a></div>
				<div><a href="https://www.instagram.com/mindlabor/" target="_blank" rel="noopener"><img src="assets/global/icons/instagram.svg" alt="Instagram"></a></div>
				<div><a href="https://twitter.com/labor_mind" target="_blank" rel="noopener"><img src="assets/global/icons/twitter.svg" alt="Twitter"></a></div>
			</div>
			<p>Did you find any issues? Or do you want to contribute to this site?</p>
			<p>Visit our GitHub <span class="inline-link"><a id="github-inline" href="https://github.com/MindLabor" target="_blank" rel="noopener">here</a></span>.</p>
		</div>
		<div class="footer-item" id="signup-box">
			<h2>Explore</h2>
			<p>Want to receive updates of new projects and get access to more content?</p>
			<a href="/maintenance"><div class="round-btn">Sign Up</div></a>
		</div>
	</div>
	<div class="footer-copy">
		© 2020 MindLabor. <span id="privacy"><a href="/maintenance">Privacy Policy</a></span>
	</div>
</footer>