<div class="project-info">
     <div class="profile-image"><img src="{{ image }}"></div>
     <div>
          <div class="title">{{ title }}</div>
          <div class="user">{{ name }}</div>
     </div>
</div>